<div class="limiter">
		<div class="container-login100" style="background-image: url('assets/images/bg.jpg');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-53">
						Sign In 
					</span>

					<div class="p-t-31 p-b-9 m-b-15">
						<span class="txt1">
							Username
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Username is">
						<input class="input100" type="text" name="username" autocomplete="off" ngModel required>
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-13 p-b-9 m-b-15">
						<span class="txt1">
							Password
						</span>

						<a href="#" class="txt2 bo1 m-l-5">
							Forgot?
						</a>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Password is">
						<input class="input100" type="password" name="pass" autocomplete="off" ngModel required>
						<span class="focus-input100"></span>
					</div>
					
					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Sign In
						</button>
					</div>
					<br><br><br>
					<div class="alert alert-danger" role="alert" *ngIf="isvalidLogin">Invalid user or password. Please try again.
					</div>
					<div class="alert alert-danger" role="alert" *ngIf="isvalidCred">Invalid user or password. Please try again.
					</div> 
				</form>
			</div>
		</div>
	</div>
